
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    list-style: outside;
}

.background-pattern {
    background-color: #f9fafb;
    background-image: radial-gradient(circle, #cbd5e1 10%, transparent 10%);
    background-size: 60px 60px;
}